#logo{
    height: 90px;
}
#main-background-img {
    background: url(../images/background.jpg) no-repeat;
    background-size: auto auto;
    background-size: cover;
    margin: -1px 0px 0px 0px;
    padding: 50px 0px 20px 0px;
    min-height: 800px;
    width: 100%;
}
.navbar-nav{
    font-size:1.3rem !important;
}
.center{
    margin-top:auto;
    margin-bottom:auto;
    vertical-align:middle;    
}
#chat-button {
    opacity: 0.8;
    width: 100%;
    padding: 25px;
    font-size: 2em;
    background-color:#880e4f !important;
    color: white;
}

#chat-button:hover {
  transform: scale(1.02);
  opacity: 0.9;
  filter: brightness(95%);    
}

#chat-box{
    overflow-y: scroll;
    padding: 25px;
    opacity: 0.9;
    margin: auto;
    width: 80%;
    
}
#chat-input-box{
    padding: 15px;
    opacity: 0.8;
    margin: auto;
    width: 80%;
    
}
.user-chat-icon {
    display: inline-block !important;
    width: 75px;
    display: inline-block;
    height: 75px;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.user-chat-agent-icon {
      background-image: url(../images/agent.jpg);
}
.user-chat-responder-icon {
      background-image: url(../images/user.png);    
}
.user-name{
    font-weight: bold;
    width: 100%;
    vertical-align: middle;
    display: block !important;
}
.agent-response{
    margin-bottom: 20px;
    margin-top: 20px;
    padding: 10px;
    border-radius: 30px;
    background-color: aliceblue;    
}
.user-response{
    border-radius: 30px;
    float: right !important;
    text-align: right;
    background-color: aliceblue;
}
.user-response .message{
    float: right;
}
.user-name-customer{
    font-weight: bold;
    width: 100%;
    float: right;
    display: block;
}
.message{
    display: block;
}
input[type=text], textarea {
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  outline: none;
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 0px solid #DDDDDD;
}
input[type=text]:focus, textarea:focus {
  border-radius: 10px;
  box-shadow: 0 0 1px rgba(81, 203, 238, 1);
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 0.2px solid rgba(81, 203, 238, 1);
}
.fa{
    vertical-align: middle;
    line-height:inherit!important;
}
.fa:hover{
    cursor: pointer;
}
.card h1{
    text-align: center;
}